.pin_container{
    display: flex;
    align-items: center;
    gap: 1rem;
    img{
        width: 3rem;
        height: 3rem;
        object-fit: cover;
        border-radius: .3rem;
    }

    .textContainer_in_pinContainer{
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     gap:.1rem;
    }
}